$roboto-font-path: "~materialize-css/dist/fonts/roboto/" !default;
$material-font-path: "~material-design-icons/iconfont/" !default;

$success-color: color('green', 'darken-1');
$danger-color: color('red', 'darken-1');
$warning-color: color('yellow', 'darken-2');
$info-color: color('blue', 'darken-1');